@charset "utf-8";
/* CSS Document */

/*CSS SLIDESHOW*/
.slidegaleria{
	margin-bottom: 30px;
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height:300px;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  /*CSS PANEL DESLIZANTE*/
 .ui-panel-inner{
	 padding-top:50px;
 }
 
  
.panel {
position: absolute;
top: 0px;
left: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 100px;
height: auto;
padding: 30px 30px 30px 130px;
filter: alpha(opacity=85);
opacity: .85;
padding-top:10px;
}
.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}
 

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 0px; left: 0;
font-size: 12px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 0px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}
 
a.active.trigger {
background:#222222 url(images/minus.png) 85% 55% no-repeat;
}

.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
width: 40%;
}
li.ui-block-a, li.ui-block-b, li.ui-block-c, li.ui-block-d, li.ui-block-e {
	margin: 5px;

border-radius:10px;
	
}
.ui-navbar .ui-grid-duo .ui-btn {
	border: thin solid #90bc00;	
}
/*avisos*/
 .left{
	 float:left;
 }
 .tit_aviso{
	margin-left: 130px;#
	font-size: 12px;
	color:#90bc00;
 }
.content_aviso{
	margin-left: 130px;
	font-size: 9px;
	color: #000!important;
	text-decoration: none!important;
}
a.content_aviso {
	margin-left: 130px;
	font-size: 9px;
	color: #000!important;
	text-decoration: none!important;
}
a.avis{
	margin-bottom:30px;
}
.clear{
	clear:both;
}

.boton{
	background-color: #90bc00;
	width: 100%;
	height: 25px;
	border: thin solid #90bc00;
	border-radius: 20px;
	text-align: center;
	clear: both;
}
.tit_curso{
	margin-left: 130px;#
	font-size: 30px!important;
	color:#90bc00;
 }
 .verpopup{
	overflow-y: scroll;
	position: fixed;
	top: 50px;
	
	 
 }
 .miimg{
	 margin:10px;
	 width:20%;
 }
 #gallery{
	 margin-bottom:50px;
	 min-height:400px;
 }
 .popphoto{
	 margin-right:10px;
 }
 
/* clientes*/

.tit_cliente a{
	font-size: 12px;
	text-decoration: none;	
}

/*intensivos*/
.intensivillos{
	height: 100px;
	width: 100%;
	border: thin solid #000;
	border-radius:10px;	
	display:block;
	clear:both;
}
.date{
	float:left;
	width: 75px;
	min-height:90px;
	border: thin solid #000;
	border-radius:10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	
	
}
.month{
	background-color: #999;
	min-height: 25px;
	width: 75px;
	display: block;
	text-align: center;
	: thin solid #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000;
}
.day{
	width: 75px;	
	display: block;
	min-height: 45px;
	text-align: center;
	font-size:20px;
	
}
.weekday{
	width: 75px;	
	display: block;
	min-height: 20px;
	text-align: center;
	font-size:10px;
}
.eventos{
	
	margin-left:100px;
	min-height:90px;
	border: thin solid #000;
	border-radius:10px;
	margin-top:5px;
	margin-right:5px;
	
	
}
.hora{
	margin-left:10px;
	margin-top:10px;
	float:left;
}
.titulo{
	color:#88b4b9
	margin-top:10px;
	margin-left:60px;
	display:block;
	
}
.direccion{
	margin-bottom:10px;
	margin-left:10px;
}
.time{
	background-color: #999;	
	color:#000;
}
.contenidos{
	color:#000;
}