<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.aidiapp.example"
    version   = "1.0.4">

<name>AutoescuelasElpilarApp</name>

<description>
autoescuelas el pilar
</description>

<author href="https://example.com" email="you@example.com">
Victor&Rocio
</author>

<access origin="*" subdomains="true" />
<preference name="permissions" value="none"/>
<preference name="SplashScreen" value="portada" />
<preference name="SplashScreenDelay" value="25000" />
</widget>

